profiles {
    standard {
        docker.enabled=true
        process {
            withLabel:dorado {
                cpus=6
                container="ontresearch/dorado:latest"
                containerOptions = "--gpus all"
            }
            withLabel:pod5 {
                cpus=3
                container="chrisamiller/pod5-tools:0.2.4"
            }
            withLabel:fastp {
                container="nanozoo/fastp:latest"
            }
            withLabel:minimap {
                cpus=4
                container="ghcr.io/bwbioinfo/minimap2-docker-cwl:latest"
            }
            withLabel:samtools {
                cpus=4
                container="ghcr.io/bwbioinfo/samtools-docker-cwl:latest"
            }
            withName:multiqc {
                container="multiqc/multiqc:latest"
            }
        }
        params {
            out_dir = "${projectDir}/output"
            dorado_cpu=false
            pod5=null
            no_mod=false
            sample_id="reads"
            ref = null
            model="sup"
            m_bases="5mCG_5hmCG"
            model_path=null
            m_bases_path=null
            help = false
        }
    }

    test {
        workDir="./results/work"
        docker.enabled=true
        process {
            withLabel:dorado {
                cpus=4
                container="ontresearch/dorado:latest"
            }
            withLabel:pod5 {
                container="chrisamiller/pod5-tools:0.2.4"
            }
            withLabel:fastp {
                container="nanozoo/fastp:latest"
            }
            withLabel:minimap {
                cpus=2
                container="ghcr.io/bwbioinfo/minimap2-docker-cwl:latest"
            }
            withLabel:samtools {
                cpus=2
                container="ghcr.io/bwbioinfo/samtools-docker-cwl:latest"
            }
            withName:multiqc {
                container="ewels/multiqc:latest"
                containerOptions= "-u 1000:1000"
            }
        }
        params {
            out_dir="./results"
            dorado_cpu=true
            pod5=null
            no_mod=false
            sample_id="reads"
            ref=null
            model="sup"
            m_bases="5mCG_5hmCG"
            model_path=null
            m_bases_path=null
            help=false
        }
    }
    drac {
        process {
            executor = 'slurm'
            withLabel:dorado {
                containerOptions = "--nv" 
                clusterOptions = "--gpus-per-node=4 --cpus-per-task=12 --mem 100G --time=2-06:00:00"
                container="ontresearch/dorado:latest"
            }
            withLabel:pod5 {
                clusterOptions = "--cpus-per-task=40 --mem 50G --time=3:00:00"
                container="chrisamiller/pod5-tools:0.2.4"
            }
            withLabel:fastp {
                clusterOptions = "--cpus-per-task=6 --mem 10G --time=3:00:00"
                container="nanozoo/fastp:latest"
            }
            withLabel:minimap {
                clusterOptions = "--cpus-per-task=40 --mem 50G --time=3:00:00"
                container="ghcr.io/bwbioinfo/minimap2-docker-cwl:latest"
            }
            withLabel:samtools {
                clusterOptions = "--cpus-per-task=40 --mem 50G --time=3:00:00"
                container="ghcr.io/bwbioinfo/samtools-docker-cwl:latest"
            }
            withName:multiqc {
                clusterOptions = "--cpus-per-task=6 --mem 10G --time=3:00:00"
                container="multiqc/multiqc:latest"
            }
        }
        params {
            out_dir="${projectDir}/output"
            dorado_cpu=false
            pod5=null
            no_mod=false
            sample_id="reads"
            ref=null
            model_path="/project/ctb-noncodo/Platform/references/dorado_models/dna_r10.4.1_e8.2_400bps_sup@v4.3.0"
            m_bases_path="/project/ctb-noncodo/Platform/references/dorado_models/dna_r10.4.1_e8.2_400bps_sup@v4.3.0_5mCG_5hmCG@v1"
            model=null
            m_bases=null
            help=false
        }
        apptainer {
            enabled=true
            autoMounts=true
            runOptions = "-B  /lustre05,/lustre06,/lustre07,/scratch,/project"
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
    }
    test_drac {
        process {
            executor = 'slurm'
            withLabel:dorado {
                containerOptions = "--nv" 
                clusterOptions = "--gpus-per-node=1 --cpus-per-task=6 --mem 20G --time=2-06:00:00"
                container="ontresearch/dorado:latest"
            }
            withLabel:pod5 {
                clusterOptions = "--cpus-per-task=4 --mem 5G --time=3:00:00"
                container="chrisamiller/pod5-tools:0.2.4"
            }
            withLabel:fastp {
                clusterOptions = "--cpus-per-task=2 --mem 1G --time=3:00:00"
                container="nanozoo/fastp:latest"
            }
            withLabel:minimap {
                clusterOptions = "--cpus-per-task=12 --mem 12G --time=3:00:00"
                container="ghcr.io/bwbioinfo/minimap2-docker-cwl:latest"
            }
            withLabel:samtools {
                clusterOptions = "--cpus-per-task=12 --mem 12G --time=3:00:00"
                container="ghcr.io/bwbioinfo/samtools-docker-cwl:latest"
            }
            withName:multiqc {
                clusterOptions = "--cpus-per-task=2 --mem 1G --time=3:00:00"
                container="multiqc/multiqc:latest"
            }
        }
        params {
            out_dir="${projectDir}/output"
            dorado_cpu=false
            pod5=null
            no_mod=false
            sample_id="reads"
            ref=null
            model_path="/project/ctb-noncodo/Platform/references/dorado_models/dna_r10.4.1_e8.2_400bps_sup@v4.1.0"
            m_bases_path="/project/ctb-noncodo/Platform/references/dorado_models/dna_r10.4.1_e8.2_400bps_sup@v4.1.0_5mCG_5hmCG@v2"
            model=null
            m_bases=null
            help=false
        }
        apptainer {
            enabled=true
            autoMounts=true
            runOptions = "-B  /lustre05,/lustre06,/lustre07,/scratch,/project"
            libraryDir = "/project/ctb-noncodo/Platform/references/apptainer/images"
            cacheDir = "/project/ctb-noncodo/Platform/references/apptainer/cache"
        }
    }
}
