params {
    out_dir = "${launchDir}/output"
    t = 4
    reads = null
    ref = null
    help = false
}

process {
    withLabel:minimap {
        container="ghcr.io/bwbioinfo/minimap2-docker-cwl:latest"
    }
    withLabel:samtools {
        container="ghcr.io/bwbioinfo/samtools-docker-cwl:latest"
    }
    withName:multiqc {
        container="multiqc/multiqc:latest"
    }
}

profiles {
    standard {
        docker.enabled=true
    }
    singularity {
        singularity.enabled=true
        singularity.autoMounts=true
    }
    apptainer {
        apptainer.enabled=true
        apptainer.autoMounts=true 
    }
}